!!! 5
%html
  %head
    %meta{content: 'text/html; charset=utf-8', :'http-equiv' => 'Content-Type'}
    %meta{content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport'}

  %body
    .main
      %h1 You're invited to beta test our app
      %img{src: @icon_url}
      %h3
        %a{href: @manifest_url} #{@title} (#{@bundle_shortversion})

    %footer
      %hr
      %span
        %a{href: 'http://ericbetts.org'} Eric Betts &copy; #{Time.new.year}
